<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B25B7BF51E8B4D540041B5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25B7C091E8B4D540041B5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25B7C141E8B4D540041B5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
